.course-items {
    height: 12rem;
    width: 13rem;
    margin-bottom: 3.2rem;
    border-radius: 0.5rem;
}

.course-image {
    display: flex;
    flex-direction: column;
}

.html-image {
    height: 7rem;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.course-content {
    padding: 0.5rem 0.3rem;
    background-color: var(--main-color);
}

.another-container {
    margin-bottom: 1.3rem;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratings {
    display: flex;
    align-items: center;
}

.enrol-now {
    width: 15rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 0rem;
    color: black;
    font-size: 0.75rem;
    font-weight: 1000;
    background-color: var(--main-theme);
}

.enrol-now:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card-section {
    display: flex;
    align-items: self-start;
    justify-content: center;
    height: 44rem;
    margin-top: 9rem;
    width: 100%;
    gap: 2rem;
}

.card-display {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}